NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/htmltrust
JWT_SECRET=change_me_to_a_random_secret
JWT_EXPIRE=30d
GENERAL_API_KEY=change_me_general_key
ADMIN_API_KEY=change_me_admin_key
